
.container
{
    display:flex;
    align-content: stretch;
    height: 1200px;
    width:800px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif,sans-serif;
}

/*================ MISE EN PAGE DU RUBAN GAUCHE=========*/
.ruban
{
  width: 40%;
  background-color: rgb(216, 231, 231);
}

.pic
{ 
  text-align: center;
  padding-top: 35px;
}

h3
{ 
  text-align: center;
  font-size:27px ;
  color: darkcyan;
  background-color: darkgrey;
}

h3+p 
{ 
  padding:10px;
}


.loisir
{ 
  margin-bottom: 10px;
  margin-left: 15px;
  color: deepskyblue;
}


/* MISE EN PAGE DU CONTENU ET DE SES PARTIES =========*/

.contenu
{  
 padding-bottom: 60px;
 width: 80%;
 background-color:rgb(176, 238, 233);
}
/*============== EN TETE =================*/

h1
{
 font-size: 40px;
}

.sous-titre
{
  font-size: 25px;
  
}

.prenom
{
 color: deepskyblue;
}

/*============================ PARTIE EXP/FORM/RECOMM ============*/
.partie
{
    display:flex;
    flex: 1;
    margin-left: 30px;
    margin-right: 5px;
}


/* SECTION GAUCHE AVEC PUCES UNICODES =================*/
.gauche
{  
  width: 40%;
  
}

.puce1 p::before
{   
  font-family:'Font Awesome 5 Free';
  content:"\f192"; 
  padding-right:5px;
  color:darkblue; 
}

.puce2 p::before
{
  content:"\2022";
  color:darkslateblue;
  padding-right:5px;
  font-weight: bold ;
 
}

/* PARTIE DROITE DE PARTIE ======================================*/
.droite
{  
    margin-left:10px;
    width: 60%;
}

.titre
{
    font-weight: bold;
}

/*PARTIE RECOMMANDATION ==============================*/

.gauche2
{
  width: 50%;
}

.droite2
{
 width: 50%;
}
/* FONTAWESOME UNICODE DES 3 PARTIES ===========================*/
.icon1 h2::before
{
    font-family: 'Font Awesome 5 Free';
    content: "\f501";
    padding-right:15px;
    color:deepskyblue;
    margin-left: 30px;
    
}

.icon2 h2::before
{
    font-family: 'Font Awesome 5 Free';
    content: "\f0b1";
    padding-right:15px;
    color:deepskyblue;
    margin-left: 30px;
}

.icon3 h2::before
{
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    padding-right:15px;
    color:deepskyblue;
    margin-left: 30px;
}
