  body{
  margin:0px;
 
}
.container
{
  display:flex;
  align-content: stretch;
  width:auto;
  margin:auto;
  font-family: 'Times New Roman', Times, serif,sans-serif;
}

/*I) MISE EN PAGE DU RUBAN GAUCHE=========*/
#ruban
{
  width: 30%;
  background-color: rgb(216, 231, 231);
}

.pic
{ 
  text-align: center;
  padding-top: 35px;
}

.contenu .pic
{
  display:none;
}
h3
{ 
  text-align: center;
  font-size:27px ;
  color: darkcyan;
  background-color: darkgrey;
}

h3+p 
{ 
  padding:10px;
}

.espace-apropos
{
 height: 20px;
}

.loisir
{ 
  margin-bottom: 10px;
  color: deepskyblue;
  text-align: center;
}

/*ELEMENTS GRAPHIQUES:ARRONDI/COULEUR ARRONDI DES ICONES LOISIR*/

.fa.fa-guitar.fa-2x.fa-border
{
  border-radius:50%;
  border-color:deepskyblue;
}
.fas.fa-book.fa-2x.fa-border
{
  border-radius:50%;
  border-color:deepskyblue;
}
.fas.fa-dumbbell.fa-2x.fa-pull-center.fa-border
{
  border-radius:50%;
  border-color:deepskyblue;
}
.fas.fa-basketball-ball.fa-2x.fa-border
{
  border-radius:50%;
  border-color:deepskyblue;
}


/* II) MISE EN PAGE DU CONTENU ET DE SES PARTIES =========*/

.contenu
{  
 width: 80%;
 background-color:rgb(176, 238, 233);
}


h1
{
 font-size: 35px;
}

.sous-titre
{
  font-size: 25px;
  
}
.souligner
{
  border-bottom:2px solid deepskyblue;
  
}
.prenom
{
 color: deepskyblue;
}

/* 1) PARTIE FORMATION ET EXPERIENCE =========================*/

/* a) Structuration des dates et intitules*/

hr.surlignement
{
  border: 1px solid;
 border-style: inset;
}

.date-intitule
{ 
  display:flex;
 /* margin-right: 15px;*/
  margin-left:10px;
  
}

.date-actual,.date-past
{
  width:40%;
}

 .intitule 
{
  margin-left: auto;
  width: 60%;
}

.titre
{
  font-weight: bold;
}


/* b) Puces unicodes fontawesome pour les dates (avec difference entre recent et passe)=================*/

.date-actual p::before
{   
  font-family:'Font Awesome 5 Free';
  content:"\f192"; 
  color:darkblue; 
  margin-left: 30px;
}

.date-past p::before
{
  content:"\2022";
  color:darkslateblue;
  font-weight: bold ;
  margin-left: 30px; 
 
}

/* c) Icones fontawesome unicode pour les titres h2 des 3 parties ===========================*/

/*Formation*/
.icon1 h2::before
{
  font-family: 'Font Awesome 5 Free';
  content: "\f501";
  padding-right:15px;
  color:deepskyblue;
  margin-left: 30px;
    
}

/*Experience Pro*/
.icon2 h2::before
{
  font-family: 'Font Awesome 5 Free';
  content: "\f0b1";
  padding-right:15px;
  color:deepskyblue;
  margin-left: 30px;
}

/*Recommandations*/
.icon3 h2::before
{
  font-family: 'Font Awesome 5 Free';
  content: "\f044";
  padding-right:15px;
  color:deepskyblue;
  margin-left: 30px;
}


/* 2) PARTIE RECOMMANDATION ==============================*/

/* Structuration différente des 2 autres parties*/
.recommandation
{
  display:flex;
  flex:1;
  margin-left: 30px; 
}

.recommandation1
{
  width: 50%;
}

.recommandation2
{
 width: 50%;
}


/* III) RESPONSIVE MEDIA QUERIES  =====================================*/


@media all and (max-device-width: 600px)
{
 /* REORGANISATION DES BLOCS BREACKPOINT
 A 600PX CAR A CETTE TAILLE => CASSURE DU VISUEL:
 LES TEXTES DES DATESDEBORDENT SUR LES TEXTES DES INTITULES*/
 /*RUBAN EST MIS EN BAS AVEC COLUMN-REVERSE*/
 .container 
 {
  display:flex;
  flex-direction: column-reverse;
  margin: 0px;
  width: 100%;
 }
 .contenu
 {
  width:100%;
 }
 .entete
 {
   display:flex;
   justify-content:center;
 }

/*REORGANISATION RUBAN GRIS | DISPARITION DE PIC*/
  #ruban
 {
   display:flex;
   width:100%;
   flex-direction: column;
 }

  #ruban .pic
  { 
   display:none;
  }
  
  .contenu .pic
  {
    display:block;
    float:left;
    padding:0px;
  }
 
  /*REORGANISATION DU BLOC CONTACT DE RUBAN*/
  .contact
  {
    display: flex;
    margin-left:10px;
  }

  .space-contact
  {
    width:25px;
  }
  

  /*TITRES | POLICE | SOUS-TITRE | ICONES | PUCES | MARGES*/
  h1 
  {
   text-align: center;
   font-size:30px;
  }

  .sous-titre
  {
    font-size:20px;
  }

  h2
  {
    font-size:20px;
    text-align:center;
  }

  h3 
  {
   font-size:20px;
   margin-block-start: 0px;
  }

  p
  {
    font-size: 12px;
  }
 
  .icon1 h2::before
  {
    padding-right: 5px;
    margin-left: 5px;
  }

  .icon2 h2::before
  {
   padding-right: 5px;
   margin-left: 5px;
  }

  .icon3 h2::before
  {
   padding-right: 5px;
   margin-left: 5px;
  }
 
  .date-actual p::before,.date-past p::before
  {
  margin-left:10px;
  }

 .date-actual,.date-past
  {
   width:100%;
  }

 .intitule 
  {
   width: 100%;
   margin-left: 5px;
  }

 .recommandation
  {
    display: flex;
    margin-left:10px;
  }

}
  
/* tablette Medium devices (landscape tablets, 768px and up) */
 
@media only screen and (min-width: 768px) and (max-device-width:1024px) 
{

  .container
 { 
   width:100%;
 }

  .ruban
  {
    width:30%;
  }
  .contenu
  {
    width:70%;
  }
  
  .icon1 h2::before
  {
    padding-right: 5px;
    margin-left: 10px;
  }

  .icon2 h2::before
  {
   padding-right: 5px;
   margin-left: 10px;
  }

  .icon3 h2::before
  {
   padding-right: 5px;
   margin-left: 10px;
  }
  
  .date-actual p::before,.date-past p::before
  {
  margin-left:0px;
  }

  .recommandation
  {
    margin-left:10px;
  }

} 


/*si largeur ecran ne depasse pas 1024px*/

@media screen and (min-width: 1024px) 
{
  .container
  {
    width: 800px;
    margin: auto;
    
  }
  .ruban
  {
    width:30%;
  }
  .contenu
  {
    width:70%;
  }
  .contact{
    padding:10px;
  }
}
/*media="all"    // Used for all media type devices ( its default under html 5)
media="screen" // Used for computer screens(default value  for html 4.01)*/