.formation
{   display: flex;
    border: 1px solid black;
    margin: auto;
    justify-content: space-between;
    width:250px;
    height: 200px;
}

.a
{
 background-color: aqua;
 height: 100px;
 width:100px;
}

.b
{
    background-color: aquamarine;
    height: 100px;
    width:100px;  
}
.space
{
    height: 100px;
}

.c
{
    background-color: rgb(18, 221, 153);
    height: 100px;
    width:100px; 
}

.d
{
    background-color: rgb(32, 111, 185);
    height: 100px;
    width:100px;   
}